*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  width: 460px;
  height: 460px;
  border-radius: 100%;
  overflow: hidden;
}

github-avatar img {
  width: 100%;
}
